* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
}

a {
  color: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

.arrows-right {
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
  z-index: 2;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  margin: 0 3rem 0 3rem;
  border-radius: 40px;
  background: #3e3e3e;
  right: 2rem;
}
.arrows-right:hover {
  box-shadow: inset 7px 7px 14px #2a2a2a, inset -7px -7px 14px #525252;
  color: #ff0000;
  cursor: pointer;
}

.arrows-left {
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
  z-index: 2;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  margin: 0 3rem 0 3rem;
  border-radius: 40px;
  background: #3e3e3e;
  left: 2rem;
}
.arrows-left:hover {
  box-shadow: inset 7px 7px 14px #2a2a2a, inset -7px -7px 14px #525252;
  color: #ff0000;
  cursor: pointer;
}

.arrows-up {
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
  padding: 1rem 1.1rem;
  font-size: 2rem;
  border-radius: 30px;
  background: #3e3e3e;
  position: absolute;
  top: 2rem;
  left: 3rem;
}
.arrows-up:hover {
  box-shadow: inset 7px 7px 14px #2a2a2a, inset -7px -7px 14px #525252;
  color: #ff0000;
  cursor: pointer;
}

.arrows-down {
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
  padding: 1rem 1.1rem;
  font-size: 2rem;
  border-radius: 30px;
  background: #3e3e3e;
  position: absolute;
  top: 2rem;
  right: 3rem;
}
.arrows-down:hover {
  box-shadow: inset 7px 7px 14px #2a2a2a, inset -7px -7px 14px #525252;
  color: #ff0000;
  cursor: pointer;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40rem;
  height: 34rem;
  border-radius: 30px;
  padding: 0 2rem;
  background: #3e3e3e;
  box-shadow: inset 7px 7px 14px #353535, inset -7px -7px 14px #474747;
}
.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product__title {
  position: absolute;
  top: -4rem;
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
  margin-left: 1rem;
}
.product img {
  margin: 2rem 0 2rem 0;
  padding: 1rem;
  border-radius: 27px;
  max-width: 20rem;
  background: linear-gradient(145deg, #424242, #383838);
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
}
.product__goBack {
  padding: 1rem;
  position: absolute;
  top: 2rem;
  left: 4rem;
  font-size: 1.8rem;
  border-radius: 50px;
  background: #3e3e3e;
  box-shadow: 8px 8px 17px #353535, -8px -8px 17px #474747;
}
.product__goBack:hover {
  color: red;
  box-shadow: inset 8px 8px 17px #353535, inset -8px -8px 17px #474747;
}
.product__descriptionContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product__description {
  width: 80%;
  height: 4rem;
}
.product__priceAndRankContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.product__price {
  color: #e22626;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.product__rank {
  color: #ffa41c;
}
.product__selections {
  font-weight: 700;
  margin-top: 1rem;
}
.product__quantity,
.product select {
  color: #c4bebe;
  margin: 0 2rem;
  cursor: pointer;
}
.product input[type=number] {
  padding-left: 1rem;
  border: none;
  text-align: center;
  width: 3rem;
  height: 2rem;
  border-radius: 27px;
  background: #3e3e3e;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
}
.product select {
  border: none;
  text-align: center;
  width: 10rem;
  height: 2rem;
  border-radius: 27px;
  background: #3e3e3e;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
}
.product input[type=submit] {
  margin: 1rem 0 1rem 5rem;
}

.bottom-cart__button {
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 27px;
  background: #108d4f;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
}
.bottom-cart__button:hover {
  box-shadow: inset 7px 7px 14px #0b5e35, inset -7px -7px 14px #15bc69;
}

.product__buttons {
  margin-left: -4.5rem;
  margin-top: 1rem;
  font-weight: 700;
  display: flex;
}
.product--addCartButton, .thanks__btn, .popupAlert__continueBtn, .popupAlert__yesBtn,
.removedItem__continueBtn,
.removedItem__yesBtn, .popup__continueBtn {
  width: 15rem;
  height: 2rem;
  border: none;
  background-color: #f7ca00;
  border-radius: 27px;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
}
.product--addCartButton:hover, .thanks__btn:hover, .popupAlert__continueBtn:hover, .popupAlert__yesBtn:hover,
.removedItem__continueBtn:hover,
.removedItem__yesBtn:hover, .popup__continueBtn:hover {
  border-radius: 27px;
  background: #f7ca00;
  box-shadow: inset 7px 7px 14px #a58700, inset -7px -7px 14px #ffff00;
}
.product--buyButton, .popupAlert__cartBtn, .popupAlert__noBtn,
.removedItem__cartBtn,
.removedItem__noBtn, .popup__cartBtn {
  width: 15rem;
  height: 2rem;
  border: none;
  background-color: #f18c0c;
  border-radius: 27px;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
}
.product--buyButton:hover, .popupAlert__cartBtn:hover, .popupAlert__noBtn:hover,
.removedItem__cartBtn:hover,
.removedItem__noBtn:hover, .popup__cartBtn:hover {
  background: #f18c0c;
  box-shadow: inset 7px 7px 14px #a15e08, inset -7px -7px 14px #ffba10;
}

.popup__btnContainer, .popupAlert__btnContainer,
.removedItem__btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 700;
  font-size: 0.8rem;
}
.popup__continueBtn, .thanks__btn, .popupAlert__continueBtn, .popupAlert__yesBtn,
.removedItem__continueBtn,
.removedItem__yesBtn {
  padding: 1rem;
  width: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem 1.5rem 1.5rem;
}
.popup__cartBtn, .popupAlert__cartBtn, .popupAlert__noBtn,
.removedItem__cartBtn,
.removedItem__noBtn {
  padding: 1rem;
  width: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.content__contentCartBtn {
  position: absolute;
  bottom: 2rem;
  width: 95%;
  height: 6rem;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
  border-radius: 30px;
}
.content__payText {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  border-radius: 30px 0 0 30px;
  font-size: 2.4rem;
  font-weight: 900;
  padding-left: 12rem;
  width: 80%;
  height: 100%;
  background: #008000;
  box-shadow: inset 8px 8px 8px #005700, inset -8px -8px 8px #00a900;
}
.content__payText:hover {
  font-size: 2.6rem;
  background: #008000;
  box-shadow: 3px 3px 10px #007100, -3px -3px 10px #008f00;
}
.content__totalPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 20%;
  height: 100%;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
  border-radius: 0 30px 30px 0;
  line-height: 2rem;
}
.content__total {
  font-size: 1.8rem;
  font-weight: 700;
}
.content__price {
  font-size: 1.8rem;
  font-weight: 700;
}

.register__btn {
  min-width: 40rem;
  height: 6rem;
  border-radius: 20px;
  font-size: 2.4rem;
  font-weight: 900;
  color: #c4bebe;
  background: #008000;
  box-shadow: inset 8px 8px 8px #005700, inset -8px -8px 8px #00a900;
  border: none;
}
.register__btn:hover {
  font-size: 2.6rem;
  background: #008000;
  box-shadow: 3px 3px 10px #007100, -3px -3px 10px #008f00;
  cursor: pointer;
}

.thanks__btn {
  color: #2a2a2a;
  font-weight: 700;
}

.popup, .popupAlert,
.removedItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  padding: 1rem;
  background-color: #3e3e3e;
  border-radius: 20px;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
}
.popup__texteContainer, .popupAlert__texteContainer,
.removedItem__texteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  line-height: 2rem;
}

.activated {
  display: none;
}

.popupAlert__alertIcon,
.removedItem__alertIcon {
  color: #ff0000;
}

.alert {
  display: none;
}

.product__heart {
  padding: 1rem;
  position: absolute;
  top: 2rem;
  right: 4rem;
  font-size: 1.8rem;
  border-radius: 50px;
  background: #3e3e3e;
  box-shadow: 8px 8px 17px #353535, -8px -8px 17px #474747;
}
.product__heart:hover {
  color: red;
  box-shadow: inset 8px 8px 17px #353535, inset -8px -8px 17px #474747;
}

.container {
  height: 100vh;
  padding: 1rem;
  background-color: #3e3e3e;
  color: #c4bebe;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 15rem;
  padding: 1rem;
  font-size: 2.8rem;
  font-family: "Dancing Script", cursive;
}
.header__nav {
  width: 20rem;
  margin-right: 1.5rem;
}
.header__nav ul {
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}
.header__nav ul li {
  margin: 1rem;
  border-radius: 20px;
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 50px;
  background: #3e3e3e;
  box-shadow: 8px 8px 17px #353535, -8px -8px 17px #474747;
}
.header__nav ul li:hover {
  color: red;
  box-shadow: inset 8px 8px 17px #353535, inset -8px -8px 17px #474747;
}
.header__nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftSideBar {
  width: 10rem;
}
.leftSideBar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.leftSideBar li {
  margin-bottom: 5rem;
  width: 6rem;
  height: 3rem;
  border-radius: 10px;
  background: #3e3e3e;
  box-shadow: 8px 8px 17px #353535, -8px -8px 17px #474747;
}
.leftSideBar li:hover {
  color: red;
  box-shadow: inset 8px 8px 17px #353535, inset -8px -8px 17px #474747;
}
.leftSideBar li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMedias {
  width: 5rem;
  margin-top: -3rem;
}
.socialMedias ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.socialMedias ul .facebook, .socialMedias ul .youtube, .socialMedias ul .twitter, .socialMedias ul .instagram {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 50px;
  background: #3e3e3e;
  box-shadow: 8px 8px 17px #353535, -8px -8px 17px #474747;
}
.socialMedias ul .facebook:hover, .socialMedias ul .youtube:hover, .socialMedias ul .twitter:hover, .socialMedias ul .instagram:hover {
  color: #3b5998;
  box-shadow: inset 8px 8px 17px #353535, inset -8px -8px 17px #474747;
}
.socialMedias ul .instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.socialMedias ul .twitter:hover {
  color: #00acee;
}
.socialMedias ul .youtube:hover {
  color: #ff0000;
}

.bottom-cart {
  position: absolute;
  bottom: 1rem;
  right: 7rem;
  height: 15rem;
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 27px;
  background: #3e3e3e;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
}
.bottom-cart__product-container {
  width: 80%;
  height: 90%;
  margin-left: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: #3e3e3e;
  box-shadow: inset 7px 7px 14px #2a2a2a, inset -7px -7px 14px #525252;
}
.bottom-cart__card {
  padding: 0.5rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 27px;
  background: #3e3e3e;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
}
.bottom-cart__image {
  text-align: center;
}
.bottom-cart__title {
  font-weight: 700;
}
.bottom-cart__price {
  font-weight: 700;
  color: #8d1515;
}
.bottom-cart--plus {
  color: red;
}
.bottom-cart__total {
  margin: 0 1rem 0 1rem;
  padding-left: 1rem;
  width: 17%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-radius: 30px;
  background: #3e3e3e;
  box-shadow: inset 7px 7px 14px #2a2a2a, inset -7px -7px 14px #525252;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 90%;
  border-radius: 30px;
  box-shadow: inset 7px 7px 14px #2a2a2a, inset -7px -7px 14px #525252;
}
.content__title {
  position: absolute;
  text-align: center;
  top: 2.5rem;
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
  margin-left: 1rem;
}

.products {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  margin-top: -4rem;
  min-width: 69%;
  height: 30rem;
}
.products #card {
  position: relative;
  left: 36rem;
  margin-right: 2rem;
}
.products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20rem;
  height: 25rem;
  padding: 1rem;
  border-radius: 27px;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
  background: #3e3e3e;
}
.products__card:hover {
  border-radius: 27px;
  box-shadow: inset 7px 7px 14px #2a2a2a, inset -7px -7px 14px #525252;
}
.products__image {
  width: 15rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.products__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  margin-top: 1.5rem;
  padding: 1rem;
}
.products__title {
  font-weight: 700;
}
.products__price {
  font-weight: 700;
  color: #e22626;
}
.products__rank {
  color: #ffa41c;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6rem;
  width: 90%;
  height: 68%;
  overflow-y: hidden;
}
.cart__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 90%;
  border-radius: 30px;
  box-shadow: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
  padding: 1rem;
  margin-bottom: 2rem;
}
.cart__card:first-child {
  margin-top: 25rem;
}
.cart figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.cart__image {
  width: 10rem;
  border-radius: 20px;
}
.cart figcaption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 1rem;
}
.cart__quantityAndlensesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 2rem;
}
.cart__title {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 1.8rem;
}
.cart__priceAndTotalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}
.cart__trashIcon {
  font-size: 1.4rem;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
}

.content-container {
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.register__formNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.register__formNameContainer .left,
.register__formNameContainer .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register__formNameContainer .left input[type=text],
.register__formNameContainer .left label,
.register__formNameContainer .right input[type=text],
.register__formNameContainer .right label {
  width: 19rem;
}
.register label {
  width: 40rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.register input[type=text],
.register input[type=email] {
  width: 40rem;
  height: 3rem;
  border-radius: 10px;
  background-color: #363636;
  padding: 0.5rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  border: none;
  box-shadow: inset 3px 3px 6px #2b2b2b, inset -3px -3px 3px #515151;
  color: #c4bebe;
}

.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thanks__orderNb, .thanks__orderPrice {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.thanks--greenColor {
  color: #578f1f;
}
.thanks--redColor {
  color: red;
}

/*# sourceMappingURL=main.css.map */
