@use '../utils/mixins' as *;

.thanks {
  @include flexbox(column, center, center);

  &__orderNb {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  &--greenColor {
    color: rgb(87, 143, 31);
  }
  &--redColor {
    color: red;
  }

  &__orderPrice {
    @extend .thanks__orderNb;
  }
}
