// fonts
$dancing: 'Dancing Script', cursive;
$roboto: 'Roboto', sans-serif;

// colors
$primary: #3e3e3e;
$secondary: #ff0000;

$priceColor: rgb(226, 38, 38);
$rankColor: #ffa41c;

$facebook: #3b5998;
$twitter: #00acee;
$instagram: radial-gradient(
  circle at 30% 107%,
  #fdf497 0%,
  #fdf497 5%,
  #fd5949 45%,
  #d6249f 60%,
  #285aeb 90%
);
$youtube: #ff0000;

// shadows
$outside: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
$inside: inset 7px 7px 14px #2a2a2a, inset -7px -7px 14px #525252;
