// fonts
$dancing: 'Dancing Script', cursive;
$roboto: 'Roboto', sans-serif;

// colors
$primary: #3e3e3e;
$secondary: #ff0000;

$priceColor: rgb(226, 38, 38);
$rankColor: #ffa41c;

// shadows
$outside: 7px 7px 14px #2a2a2a, -7px -7px 14px #525252;
$inside: inset 7px 7px 14px #2a2a2a, inset -7px -7px 14px #525252;
