@use '../utils/variables' as *;

.socialMedias {
  width: 5rem;
  margin-top: -3rem;
  ul {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    .facebook {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      padding: 1rem;
      border-radius: 50px;
      background: #3e3e3e;
      box-shadow: 8px 8px 17px #353535, -8px -8px 17px #474747;

      &:hover {
        color: $facebook;
        box-shadow: inset 8px 8px 17px #353535, inset -8px -8px 17px #474747;
      }
    }

    .instagram {
      @extend .facebook;

      &:hover {
        background: $instagram;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    .twitter {
      @extend .facebook;

      &:hover {
        color: $twitter;
      }
    }

    .youtube {
      @extend .facebook;

      &:hover {
        color: $youtube;
      }
    }
  }
}
